.paper {
    width: 500px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.todo__list {
    width: 222px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgb(237, 247, 237);
    margin: 5px 0;
}

.alert {
    position: absolute;
    top: -50px;
    right: 50%;
}

.btn {
    margin-top: 10px !important;
}