.loader__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
    top: 0;
    width: 100%;
    z-index: 1051;
}

.loader{
    width: 120px;
    height: 120px;
}